global
  maxconn 4096
  nbthread 1
  quiet

defaults
  mode http
  option dontlognull
  option http-keep-alive
  http-reuse always
  timeout connect 200ms
  timeout client 5s
  timeout server 5s
  timeout http-request 2s

frontend fraud_score
  bind *:9999
  default_backend apis

backend apis
  balance roundrobin
  option httpchk GET /ready
  http-check expect status 200
  server api1 unix@/sockets/api1.sock check inter 2s fall 2 rise 1 maxconn 1024
  server api2 unix@/sockets/api2.sock check inter 2s fall 2 rise 1 maxconn 1024
